_test-data
temp
out
notuse
dataSources
.ideaDataSources

install/JadatexSync*.exe

*.iws
*.iml
*.ipr

_app.rt
_db-ini*.rt
_log.properties
_product
_data_root
_logs
_log
_notuse

_.shelf

jdtx-repl-main/_log.properties

jdtx-repl-web/.idea 