.flex-container {
  display: flex;
  align-items: center;
}

.selected {
  background-color: rgb(32 148 243 / 30%);
}

/* TableItem */

.inp-tag {
  border-radius: 5px;
  display: inline-block;
  min-width: 20px;
  border: 1px solid;
  margin: 1px 2px 1px 2px;
}


.inp-tag-up {
  border-color: #b3e0a7;
  background-color: #ecffe8;
}

.inp-tag-down {
  border-color: #ffc5c5;
  background-color: #ffebeb;
}

.inp-tag-none {
  border-color: #c1d3e3;
  background-color: #f1f7ff;
}

.inp-tag-hidden {
  border-color: #dbdbdb;
  background-color: #f5f5f5;
}

.inp-tag-up-true {
  background-color: #b3e0a7;
}

.inp-tag-down-true {
  background-color: #ffc5c5;
}

.inp-tag-none-true {
  background-color: #c1d3e3;
}

.inp-tag-hidden-true {
  background-color: #dbdbdb;
}

/* TableItem end */


.button {
  border: 2px solid;
  border-radius: 2px;
  max-width: 100px;
  margin: 5px;
  cursor: pointer;
  padding: 5px;
}

.radio-button {
  border: none;
  border-radius: 8px;
  margin: 5px;
  cursor: pointer;
}

.button-tag-up {
  border-color: #b3e0a7;
  background-color: #cbffbd;
}

.button-tag-down {
  border-color: #de9d9d;
  background-color: #ffb2b2;
}

.button-tag-none {
  border-color: #c1d3e3;
  background-color: #e1f1ff;
}

.button-tag-hidden {
  border-color: #aaaaaa;
  background-color: #c2c2c2;
}


/* tagsChoice */

.tag-choice {
  border: 1px solid;
  border-radius: 8px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}

.tag-up {
  border-color: #b3e0a7;
}

.tag-down {
  border-color: #de9d9d;
}

.tag-none {
  border-color: #c1d3e3;
}

.tag-empty {
  border-color: #aaaaaa;
}

.tag-hidden {
  border-color: #aaaaaa;
}

.tag-up-true {
  background-color: #cbffbd;
}

.tag-down-true {
  background-color: #ffb2b2;
}

.tag-none-true {
  background-color: #e1f1ff;
}

.tag-empty-true {
  background-color: #f1f1f1;
}

.tag-hidden-true {
  background-color: #dbdbdb;
}

/* tagsChoice end */


/* tableItems */

.table-items {
  height: calc(100vh - 180px);
  overflow: scroll;
  box-sizing: border-box;
}


/* tableItems end */
